




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
     
body {
  background-image:url(https://i.pinimg.com/originals/bb/89/ca/bb89cac0156e262291b092f460a1c103.png);
} 
     
p { 
color: white;
  text-align: center;       
}


img {
  border-radius: 0%;
display: block;
  margin-left: auto;
  margin-right: auto;    
}

p {
  font-family: Lucida Console;
  font-size: 35px;
}

h1 {
  color: black;
  text-align: center;
}
  
 .header {
padding: 60px;
text-align: center;
background: #1abc9c;
color: white;
font-size: 30px;
}




.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:dodgerblue;
color: white;
text-align: center;
}